$width-half: 520px;
$margin-top-title: 75px;
$font-size-title: 34px;
$font-size-cell: 24px;
$line-height-title: 23px;
$current-day-color: #ed4957;
$calendar-background-dark: #409a91;
$calendar-background-light: white;