@import './../../../../common/styles/variables';

.dark {
  color: #a8a7a7;
}

.light {
  color: #ebe0e0;
}

.today {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 3px;
  width: 30px;
  height: 30px;
  color: $current-day-color;
  border: 4px solid $current-day-color;
  border-radius: 50%;
}