@import'./../../../common/styles/variables';
@import'./../../../common/styles/template';

.today {
  width: $width-half;
  text-align: center;
  background-color: #58cec4;
  color: white;
  font-family: sans-serif;

  &__day-week {
    @extend %title;
    margin-top: $margin-top-title;
    text-transform: uppercase;
  }

  &__day-month {
    font-size: 290px;
    line-height: 201px;
    margin-top: 120px;
    margin-bottom: 175px;
  }
}